In [1]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''
a='Amisha'
b=[2,6,8,4]
c=3.55
d=("hi","this","is","amisha")

In [4]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
'''
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [5]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''
'''(i) / - Division Operator:
The division operator / is used to perform division between two numbers. It returns the quotient as a floating-point number,
even if the operands are integers.'''
a=6
b=3
div=a/b
print(div)

'''(ii) % - Modulo Operator:
The modulo operator % is used to calculate the remainder when one number is divided by another.
'''
a=6
b=3
mod=a%b
print(mod)
'''
(iii) // - Floor Division Operator:
The floor division operator // performs division between two numbers and returns the quotient as an integer, discarding any fractional part.
'''
floor=6//3
print(floor)

'''iv) ** - Exponentiation Operator:
The exponentiation operator ** is used to calculate the power of a number. It raises the left operand to the power of the right operand.
'''

expo=6**3
print(expo)

2.0
0
2
216

In [7]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l=['hi',4,5.7,'hello','kya',0,'amisha',3,True,False]
for i in range(0,len(l)):
    print(l[i],type(l[i]))

hi <class 'str'>
4 <class 'int'>
5.7 <class 'float'>
hello <class 'str'>
kya <class 'str'>
0 <class 'int'>
amisha <class 'str'>
3 <class 'int'>
True <class 'bool'>
False <class 'bool'>

In [12]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A=10
B=2
count=0
if A%B==0:
    while(A//B!=0):
        A=A//B
        count=count+1
print(count)

3

In [15]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in range(0,len(l)):
    if l[i]%3==0:
        print(l[i],"Divisible by 3")
    else:
        print(l[i],"Not divisible by 3")

1 Not divisible by 3
2 Not divisible by 3
3 Divisible by 3
4 Not divisible by 3
5 Not divisible by 3
6 Divisible by 3
7 Not divisible by 3
8 Not divisible by 3
9 Divisible by 3
10 Not divisible by 3
11 Not divisible by 3
12 Divisible by 3
13 Not divisible by 3
14 Not divisible by 3
15 Divisible by 3
16 Not divisible by 3
17 Not divisible by 3
18 Divisible by 3
19 Not divisible by 3
20 Not divisible by 3
21 Divisible by 3
22 Not divisible by 3
23 Not divisible by 3
24 Divisible by 3
25 Not divisible by 3

In [16]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
'''
Immutable data types are those whose values cannot be modified once they are assigned. If you need to change the value of an immutable object,
you must create a new object with the desired value. Examples of immutable data types in Python include:

int (integer)
float
bool (boolean)
str (string)
tuple
'''
x = 5
print(x)  # Output: 5

# Trying to modify the value of x
x = x + 1
print(x)  # Output: 6

'''Mutable data types, on the other hand, allow modifications to their values even after they are created. This means you can change the internal state of an object without creating a new object. Examples of mutable data types in Python include:

list
dict (dictionary)
set
'''
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

# Modifying the list
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

5
6
[1, 2, 3]
[1, 2, 3, 4]